<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="side-bar-container">
    <div class="logo"><img src="assets/logo-white.webp" /></div>

    <div class="primary-menu-items item-container">
      <div
        [routerLink]="item.link"
        class="menu-item"
        *ngFor="let item of primaryMenuItems"
        (click)="setActiveTitle(item.title)"
      >
        <span class="material-icons-outlined icon">{{ item.icon }}</span>
        <div class="name">{{ item.name }}</div>
      </div>
    </div>

    <div class="secondary-menu-items item-container">
      <div
        [routerLink]="item.link"
        class="menu-item"
        *ngFor="let item of secondaryMenuItems"
        (click)="setActiveTitle(item.title)"
      >
        <span class="material-icons-outlined icon">{{ item.icon }}</span>
        <div class="name">{{ item.name }}</div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <div class="title">{{ activeTitle }}</div>

      <div class="toolbar-items">
        <div class="btn-group" dropdown placement="bottom right">
          <span class="icon material-icons-outlined"> notifications </span>
          <div class="btn-group" dropdown>
            <span class="icon material-icons" dropdownToggle>
              account_circle
            </span>
            <ul
              *dropdownMenu
              class="dropdown-menu dropdown-menu-right"
              role="menu"
            >
              <li (click)="logout()" role="menuitem">Log Out</li>
            </ul>
          </div>
        </div>
      </div>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
