<div class="privacy-container">
  <h4>Article 1: object</h4>
  <p class="paragraph">
    The purpose of these “general terms and conditions of use” is to provide a
    legal framework for the terms and conditions for providing the services of
    the Ecolespostbac.fr website and their use by the “User”. The general
    conditions of use must be accepted by any User wishing to access the site.
    They constitute the contract between the site and the User. Access to the
    site by the User signifies his acceptance of these general conditions of
    use. In the event of non-acceptance of the general conditions of use
    stipulated in this contract, the User must renounce access to the services
    offered by the site. Ecolespostbac.fr reserves the right to unilaterally
    modify the content of these general conditions of use at any time.
  </p>

  <h4>Definitions</h4>
  <p class="paragraph">
    The purpose of this clause is to define the various essential terms of the
    contract: User: this term designates any person who uses the site or one of
    the services offered by the site. User content: this is the data transmitted
    by the User within the site. Member: the User becomes a member when he is
    identified on the site. Username and password: this is all the information
    needed to identify a User on the site. The username and password allow the
    User to access services reserved for members of the site. The password is
    confidential.
  </p>

  <h4>Access to services</h4>
  <p class="paragraph">
    The site allows the User free access to the following services: Information
    articles on the blog Search for Courses and Schools using filters School
    file with the opinions and ratings of former students Publication of
    opinions and comments on your former school The site is accessible free of
    charge anywhere to any User with Internet access. All costs incurred by the
    User to access the service (hardware, software, Internet connection, etc.)
    are his responsibility. The non-member User does not have access to the
    services reserved for members. To do this, he must identify himself using
    his username and password. The site implements all the means at its disposal
    to ensure quality access to its services. The obligation being of means, the
    site does not undertake to achieve this result. Any event due to a case of
    force majeure resulting in a malfunction of the network or the server does
    not engage the responsibility of studymapper.com. Access to the services of
    the site may at any time be subject to an interruption, a suspension of a
    modification without notice for maintenance or for any other case. The User
    undertakes not to claim any compensation following the interruption,
    suspension or modification of this contract. The User has the possibility of
    contacting the site by e-mail at the address mathieu@myvirtualprofessor.com
  </p>

  <h4>Intellectual property</h4>
  <p class="paragraph">
    The trademarks, logos, signs and any other content of the site are protected
    by the Intellectual Property Code and more particularly by copyright. The
    User requests the prior authorization of the site for any reproduction,
    publication, copy of the various contents. The User undertakes to use the
    content of the site in a strictly private context. Use of the content for
    commercial purposes is strictly prohibited. Any content posted by the User
    is his sole responsibility. The User agrees not to upload content that may
    harm the interests of third parties. Any legal action brought by an injured
    third party against the site will be borne by the User. The content of the
    User can be at any time and for any reason deleted or modified by the site.
    The User does not receive any justification and notification prior to the
    deletion or modification of the User content.
  </p>

  <h4>Personal data</h4>
  <p class="paragraph">
    The information requested when registering for the site is necessary and
    mandatory for the creation of the User's account. In particular, the email
    address may be used by the site for the administration, management and
    animation of the service. The site provides the User with the collection and
    processing of personal information in respect of privacy in accordance with
    law n ° 78-17 of January 6, 1978 relating to data processing, files and
    freedoms. The site is declared to the CNIL under the number [2115087]. Under
    articles 39 and 40 of the law dated January 6, 1978, the User has a right of
    access, rectification, deletion and opposition of his personal data. The
    User exercises this right via: his personal space a contact form by email to
    contact@studymapper.fr by post at 14 rue du Soleillet 75020, PARIS
  </p>

  <h4>Liability and force majeure</h4>
  <p class="paragraph">
    The sources of the information disseminated on the site are deemed to be
    reliable. However, the site reserves the right to not guarantee the
    reliability of the sources. The information given on the site is for
    informational purposes only. Thus, the User alone assumes full
    responsibility for the use of the information and content of this site. The
    User makes sure to keep his password secret. Any disclosure of the password,
    in whatever form, is prohibited. The User assumes the risks related to the
    use of his username and password. The site declines all responsibility. Any
    use of the service by the User resulting directly or indirectly in damage
    must be subject to compensation for the benefit of the site. An optimal
    guarantee of the security and confidentiality of the data transmitted is not
    provided by the site. However, the site undertakes to implement all
    necessary means to best guarantee the security and confidentiality of data.
    The site cannot be held liable in the event of force majeure or the
    unforeseeable and insurmountable act of a third party.
  </p>

  <h4>Hypertext links</h4>
  <p class="paragraph">
    Many outgoing hypertext links are present on the site, however the web pages
    to which these links lead do not in any way engage the responsibility of
    ecolespostbac.fr, which has no control over these links. The User therefore
    refrains from engaging the responsibility of the site concerning the content
    and the resources relating to these outgoing hypertext links. ARTICLE 8:
    Evolution of the contract The site reserves the right to modify the clauses
    stipulated in this contract at any time.
  </p>

  <h4>Duration</h4>
  <p class="paragraph">
    The duration of this contract is indefinite. The contract takes effect with
    respect to the User from the use of the service.
  </p>

  <h4>Applicable law and competent jurisdiction</h4>
  <p class="paragraph">
    French law applies to this contract. The site allows members to post
    comments and reviews of their former schools. In his publications, the
    member undertakes to respect the rules of Netiquette and the rules of law in
    force. Content from other users, advertisers and other third parties is made
    available to you through ecolespostbac.fr. "Content" means any intellectual
    work or information, including reviews and comments on schools that you find
    on ecolespostbac.fr. Since we do not control such Content, you understand
    and agree that: (1) we are not responsible for and do not endorse such
    Content; (2) we make no warranty as to the accuracy, truthfulness,
    timeliness, reliability, or informational quality of any such Content; and
    (3) we don't
  </p>
</div>
