/* You can add global styles to this file, and also import other style files */
@import "app/theming/theme.scss";
@import "notyf/notyf.min.css";

* {
  border-radius: 0px !important;
  font-family: "Lato", sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.bold {
  font-weight: 700;
}

/* Flex Field Styles */
.flex {
  display: flex;
}

.field {
  display: block;
  margin-bottom: 8px;
  margin-right: 9px;
}

.flex-field {
  flex: 1;
}

/* Global Sidenav Configurations*/
.mat-sidenav {
  margin: 0px !important;
}

.content {
  margin: 0px !important;
}

/* Custom Notifier Class */
